  <div class="dialog">
    <div class="header" *ngIf="!create">
      <h1 matDialogTitle>Order Type Selection</h1>
      <h4>Please Select <strong>One (1)</strong> option below</h4>
      <mat-dialog-actions>
        <button mat-raised-button (click)="show()">Sign Up</button>
        <button mat-raised-button matDialogClose (click)="nextStep()">
          CheckOut without Account
        </button>
        <button mat-button matDialogClose>Close</button>

      </mat-dialog-actions>
    </div>
    

    <!-- Create User Account -->
    <div class="container"  *ngIf="create">
      <mat-dialog-content class="dialog-content">
        <form [formGroup]="creationFormGroup" class=" custom-b">
          <ng-template matStepLabel>Create An Account</ng-template>
          <legend>Create Account</legend>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
    
          </mat-form-field> -->
          <div class="form-flex">
            <label>
              <input type="text" formControlName="fname" placeholder="First Name">
              <span>First Name</span>
            </label>
            <label>
              <input type="text" formControlName="lname" placeholder="Last Name">
              <span>Last Name</span>
            </label>
          </div>
          <div class="form-flex">
            <label>
              <input type="text" formControlName="address1" placeholder="Street Address">
              <span>Street Address</span>
            </label>
            <label>
              <input type="text" formControlName="parish" placeholder="Town/City/Parish">
              <span>Town/City/Parish</span>
            </label>
          </div>
          <div class="form-flex">
            <label>
              <input type="email" formControlName="email" placeholder="Email">
              <span>Email</span>
            </label>
          </div>
          <div class="form-flex">
            <label>
              <input type="text" formControlName="cardholder" placeholder="Cardholder Name">
              <span>Name on Card</span>
            </label>
          </div>
          <div class="form-flex">
            <label>
              <input type="text" formControlName="cardNumber" placeholder="Card Number">
              <span>Card Number</span>
            </label>
            <label>
              <input type="text" formControlName="expiryDate" placeholder="Expiry Date">
              <span>Expiry Date</span>
            </label>
          </div>
          <div>
            <button mat-button  [mat-dialog-close]="creationFormGroup.value">Create User</button>
          </div>
        </form>
      </mat-dialog-content>
    </div>
  </div>
