<div class="card_container">
    <!-- <mat-spinner *ngIf="menu.length === 0"></mat-spinner>  -->
  <mat-card>
    
    <mat-card-header>
        <mat-card-title>{{ menu.menu_name }}</mat-card-title>
            <br>
        <p>{{ menu.menu_description }}</p>
            <br>
        <mat-card-subtitle> 
            {{ menu.cost | currency}}
        </mat-card-subtitle>
        <br>
      <mat-card-actions>
        <button mat-stroked-button color="primary" routerLink="/order-completed">Order Now</button> 
      </mat-card-actions> 
    </mat-card-header>

    <mat-card-content>
      <img
        src="{{ menu.imageUrl }}"
        alt=""
      />
    </mat-card-content>

  </mat-card>

</div>
