.form_container{
    padding: 0.5% 3%;
}
.container{
    padding-top: 10rem;
    min-height: 70vh;
    width: 1240px;
    margin:auto;
}
form > *{
    box-sizing: border-box;
}
form{
    display:flex;
    flex-direction: column;
    gap: 1rem;

}
form legend{
    color: #302424;

    font-size: 2rem;
    margin: 10px 0 1rem;
}
.form-flex{
    display:flex;
    gap: 3rem;
}
.custom-b label{
    display:flex;
    flex-direction:column;
    flex-grow: 1;

}
.custom-b label span{
    font-size: .7rem;

}
.custom-b label input{
    width: 100%;
    height: 2.1rem;
    border:none;
    border-bottom: 2px solid #00FFFF;
}
.custom-b label input:focus{
    outline:none;
    border-bottom-color: #00bbbb;
}
.custom-b label input.ng-invalid.ng-touched{
    border-bottom-color:red;
}
.flex-col{
    display:flex;
    flex-direction:column;
    gap: 1rem;
}
.grid-two{
    display:grid;
    width: 80%;
    gap: 4rem;
    grid-template-columns: auto auto;;
}
mat-radio-group{
    flex-grow: 1;
    display:flex;
    gap: 1rem;
    align-items: center;
}
.no-gap{
    gap: 0rem;
}
