.cart-container {
    padding: 0.5% 3%;
}

.cart-container a {
    text-decoration: none;
}

/* Secure Cart Header */
.cart-header {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    padding: 0.9rem;  
    border-bottom: 1px white solid; 
}

.cart-header h3 {
    height: 96%;
}

.header-left,
.header-right{
    display: flex;
    width: 16.5vw;
}

.cart-header span, 
.cart-header h3 {
    display: flex;
    align-items: center;
}

.cart-header span {
    border: none;
    background-color: #64EFAB;
    border-radius: 50%;
    padding: 0.7rem;
}

.cart-header h3 {
    color: #64EFAB;
    padding: 0 1vw;
}

/* Cart BreadCrumbs */
.cart-track {
    display: flex;
    justify-content: center;
    /* margin-top: 2.3vw; */
    padding: 3vw 2vw 2.4vw;

}

.sections {
    color: white;
    font-size: 1.8vw;
}

/* Start of Cart Information */

.cart-left-sections {
    width: 60vw;
    height: auto;
    border: red 1px solid;
}

.content {
    display: flex;
    justify-content: space-between;
}

/* Banner Start */

.delivery-banner,
.cart-summary,
.cart-total,
.accepted-payments {
    background-color: #424242;
    padding: 1vw;
    border-radius: 20px;
    margin: 1.5vw 0;
}

.banner-content {
    background-color: #1c1b1b;
    padding: 1% 2%;
    text-align: center;
    border-radius: 5px;
}

.banner-content p{
    font-size: large;
    color: white;
    margin-top: 1.5vw;
}

.cart-summary-content {
    border-radius: 20px;
    text-align: center;

}

table {
    padding: 2vw;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

tbody {
    font-size: large;
    text-align: center;
}

thead {
    background-color: #1c1b1b;
    font-size: 1.4vw;
    color: white;
}

.cart-right-sections {
    width: 30vw;
}

.cart-summary h4,
.total-header h4,
.payment-header h4{
    padding: 0.6vw;
    border-bottom: 1px solid white;
    font-size: x-large;
    color: white;
}

.check-email {
    padding: 3vw 0 0;
}

.check-email input {
    border: 1px solid white;
    background-color: #303030;
    padding: 0.4vw;
    margin-left: 0.9vw;
    width: 18vw;
    border-radius: 7px
}

.check-email input[type=email] {
    color: White;
}

.email-button button {
    padding: 0.9vw 6.5vw;
    width: 25vw;
    margin: 1vw 1vw;
    border: none;
    border-radius: 8px;
    background-color: #64EFAB;
    transition: 0.5s ease-in-out;
    font-weight: 700;
}

.email-button button:hover {
    transform: scale(1.05);
    cursor: pointer;

}

