.card_container {
    /* background-color: #fff; */
    background-color: #fff;
    height: 50vh;
    /* border-top: 10px solid; */
    /* bottom: 0; */
    /* position: relative; */
    /* padding-top: 80px; */
    padding-top: 4%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content {
    width: 20%;
    display: flex;
    height: 20em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contentImg {
    overflow: hidden;
    border-radius: 12px;
}

.contentImg img {
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.card:hover img {
    transform: scale(1.04);
}

.card {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 3px;
    background: transparent;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.card img {
    width: 100%;
    height: 100%;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 8px 5px 25px rgba(0, 0, 0, 0.1);
}

.title {
    color: grey;
    font-size: 12px;
}

.footer-container {
    margin: auto;
    text-align: center;
    color: black;
    width: 20%;
    padding: 20px
}

.footer-container p {
    width: 100%;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
}

.email-box {
    height: 40px;
    justify-content: center;
    display: flex;
}

.email-box i {
    background: #2f3542;
    width: 40px;
    line-height: 40px;
}

.tbox,
.btn {
    border: none;
    outline: none;
}

.tbox {
    width: 0px;
    transition: 0.6s;
}

.email-box:hover>.tbox,
.tbox:focus {
    width: 260px;
    padding: 0 10px;
}

.btn {
    background: #2f3542;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.third-section {
    width: 20%;
}

.menu-list,
li,
a {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.about-container {
    width: 20%;
}

.list {
    list-style: none;
    text-decoration: none;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    color: white;
    padding: 20px;
    text-align: center;
}

.item a {
    color: white;
}