<div class="card_container" id="card_container">
    <!-- <mat-spinner *ngIf="footerItems.length === 0"></mat-spinner> -->
    <div class="container">
        <div class="left-cont">
            <div class="contact">
                <p><b>Get in touch </b> <br>+1 305-420-6361 amber.eateries@mail.com <br>Suite B11, Pinnacle Pointe,<br> 53 Lady Musgrave Rd, Kingston</p>
            </div>
            <div class="about">
                <p><b>About Us</b> <br>Amber Eateries Lorem ipsum, dolor <br> sit amet consectetur adipisicing <br>elit. Eligendi a necessitatibus illo <br>molestiae repudiandae nisi dolores<br> eius molestias mollitia dolorum <br>maiores...<a href="/about">Read More...</a>                    </p>
            </div>
        </div>
        <div class="middle-container">
            <div class="card">
                <div *ngFor="let product of footerItems" routerLink="/details/{{ product }}">
                    <div class="row">
                        <img src="{{ product.imageUrl }}" alt="" />

                    </div>

                </div>

            </div>


        </div>
        <div class="right-container">
            <div class="footer-container">
                <form action="">
                    <h2 class="heading">Join Our Newsletter</h2>
                    <div class="email-box">
                        <i class="fas fa-envelope"></i>
                        <input class="tbox" type="email" name="" value="" placeholder="Enter your email">
                        <button class="btn" type="button" name="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>