<link rel="stylesheet" href="./details.component.css" />

<div class="card_container">
    <!-- <mat-spinner *ngIf="product.length === 0"></mat-spinner> -->
  <mat-card>
    
    <mat-card-content>
      <img
        src="{{ product?.imageUrl }}"
        alt=""
      />
    </mat-card-content>
    
    <mat-card-header>
        <mat-card-title>{{ product?.name }}</mat-card-title>
            <br>
        <p>{{ product?.description }}</p>
            <br>
        <mat-card-subtitle> 
            $/{{ product?.price }} {{ product?.quantity }}
        </mat-card-subtitle>
        <br>
      <mat-card-actions>
        <button mat-stroked-button color="accent" routerLink="/cart">Order Now</button> 
      </mat-card-actions> 
    </mat-card-header>

  </mat-card>
</div>

