.table{
    width: 100%;
}

.mat-cell {
 text-align: center;
  }

.button{
    margin: 0px 2px;
  }

  .mat-header-cell{
    text-align: center;
  }

  /* modal code design */

  #modal{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: none;
  }

  .form{
    width: 60%;
    margin: 0px auto;
    padding: 10px;
  }

  input[type="text"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.but {
  width: 100%;
  background-color: #8500a6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
}

.but:hover {
  background-color: #ff05de;
  font-weight: 400;
  color: #8500a6;
}

.add {
  border-radius: 5px;
  background-color: #efe5ef;
  padding: 20px;
}

textarea {
  width: 99.9%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea:focus, input:focus{
  border-color: #8500a6;
  outline: #8500a6;
}

label{
  color: #8500a6;
}

input, select, textarea{
    color: #bd29a9;
}

.close{
  color: #bd29a9;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.addInfo{
  background-color: #8500a6;
  color: white;
}

.addInfo:hover{
  background-color: #bd29a9;
}