<div class="card_container" id="card_container">
    <!-- <mat-spinner *ngIf="footerItems.length === 0"></mat-spinner> -->
    <div class="container">
        <div class="left-cont">
            <div class="contact">
                <p><b>Get in touch </b> <br>+1 305-420-6361 amber.eateries@mail.com <br>Suite B11, Pinnacle Pointe,<br> 53 Lady Musgrave Rd, Kingston</p>
            </div>
            <div class="about">
                <p><b>About Us</b> <br>Amber Eateries Lorem ipsum, dolor <br> sit amet consectetur adipisicing <br>elit. Eligendi a necessitatibus illo <br>molestiae repudiandae nisi dolores<br> eius molestias mollitia dolorum <br>maiores...<a href="/about">Read More...</a>                    </p>
            </div>
        </div>
        <div class="middle-container">
            <div class="card">
                <div *ngFor="let product of footerItems" routerLink="/details/{{ product }}" class="grid-gallery">
                    <div class="row">
                        <img src="{{ product.imageUrl }}" alt=""/>
                        <svg width="148" height="9" viewBox="0 0 148 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M139.5 4.5C139.5 6.70914 141.291 8.5 143.5 8.5C145.709 8.5 147.5 6.70914 147.5 4.5C147.5 2.29086 145.709 0.5 143.5 0.5C141.291 0.5 139.5 2.29086 139.5 4.5ZM0.5 5.25H143.5V3.75H0.5V5.25Z" fill="white"/>
                            </svg>
                    </div>

                </div>

            </div>


        </div>
        <div class="right-container">
            <div class="footer-container">
                <form action="">
                    <h2 class="heading">Join Our Newsletter</h2>
                    <div class="email-box">
                        <i class="fas fa-envelope"></i>
                        <input class="tbox" type="email" name="" value="" placeholder="Enter your email">
                        <button class="btn" type="button" name="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
