
<!-- gallery------------------------------------------ -->
<!-- <div class="card_container" id="card_container">
    <mat-spinner *ngIf="footerItems.length === 0"></mat-spinner>
  <div class="content">
    <mat-card
      *ngFor="let product of footerItems"
      routerLink="/details/{{ product.id }}"
      class="card"
    >
      <mat-card-content class="contentImg">
        <img src="{{ product.imageUrl }}" alt="" />
      </mat-card-content>

      <mat-card-header>
        <mat-card-title class="title">{{ product.name }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div> -->


