.card_container {
    background-image: url('src/assets/Jagged-footer-bg.png');
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding-top: 8rem;
    gap: 30px;
}

.left-cont {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
}

.footer-container {
    margin-top: 30%;
    text-align: center;
}

.footer-container p {
    width: 100%;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
}

.email-box {
    height: 30px;
    justify-content: center;
    display: flex;
}

.email-box i {
    background: white;
    width: 40px;
    line-height: 30px;
    min-width: 30px;
    color: rgb(96, 33, 33);
}

.tbox {
    color:white;
    background: none;
    border: 1px solid white;
}

.tbox,
.btn {
    outline: none;
    border: 1px solid white;
}

.btn {
    background: white;
    color: brown;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.heading {
    font-size: 15px;
    color: white;
}

.middle-container {
    width: 30%;
    display: flex;
    flex-direction: row;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
}

.row {
    padding: 20px;
    display:flex;
    align-items: center;
}
.row svg{
    width: 5rem;
}
.about a{
    color:#00E0FF;
    text-decoration: none;
}
.row img {
    padding: 3px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    border: 1px solid white;
}
.hr{
    display:block;
    width: 100px;
    height: 1px;
    background-color:whitesmoke;
    align-self: center;
}
