<link rel="stylesheet" href="./contact.component.css" />

<div class="container">
  <!-- form------------------------------ -->
  <mat-card>
    <h1>Send Us a Message</h1>
    <br />
    <form action="">
      <div>
        <label for="name">Name</label><br />
        <input type="text" name="name" id="name" />
      </div>
      <br />
      <div>
        <label for="email">Email</label><br />
        <input type="email" name="email" id="email" />
      </div>
      <br />
      <div>
        <label for="message">Message</label><br />
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
      </div>
      <br />
      <!-- <div class="btn">
            <input type="submit" value="Send message">
        </div> -->
      <div class="btn">
        <button mat-raised-button color="primary">Send message</button>
      </div>
    </form>
  </mat-card>
  <br /><br />

  <!-- map------------------------------ -->

  <div class="map">
    <iframe
      width="100%"
      height="500"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Amber%20Group%20Limited+(Amber%20Group%20Limited)&amp;t=k&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
      ><a href="https://www.gps.ie/wearable-gps/">adventure gps</a></iframe
    >
  </div>

  <!-- footer------------------------------ -->
  <div class="footer_container">
    <footer>
      <section>
        <h2>Amber Eateries</h2>
        <br />
        <a href="#">About Amber Eateries</a><br />
        <a href="#">Food Quality</a><br />
        <a href="#">Franchising</a><br />
        <a href="#">International</a><br />
        <a href="#">Menu</a>
      </section>
      <section>
        <h2>My Amber Eatery</h2>
        <br />
        <a href="#">Amber Eateries App</a><br />
        <a href="#">Gift Cards</a><br />
        <a href="#">Reload Card</a><br />
        <a href="#">Check Card Balance</a>
      </section>
      <section>
        <h2>Amber Eatery Cares</h2>
        <br />
        <a href="#">Download Allergens</a><br />
        <a href="#">Allergens View in Browser</a><br />
        <a href="#">Privacy Policy</a><br />
        <a href="#">Sustainability</a><br />
        <a href="#">Diversity</a>
      </section>
      <section>
        <h2>Contact Us</h2>
        <br />
        <a href="tel:+">+1 305-420-6361</a><br />
        <a href="email:+">amber.eateries@mail.com</a><br />
        <p>
          Suite B11, Pinnacle Pointe, 53 Lady <br />
          Musgrave Rd, Kingston
        </p>
      </section>
    </footer>
  </div>
</div>
