<div class="map-background">
  <div class="overlay"></div>
  <div class="contact-form">
    <div class="form-img">
      <img src="/assets/pexels-luis-kuthe-4940845.jpg" alt="">
    </div>
    <form action="">
      <h2>Send us a message</h2>
      <label for="">Full Name</label>
      <input type="text">

      <label for="">Email</label>
      <input type="text">

      <label for="">Message</label>
      <textarea name="" id="" cols="74" rows="13"></textarea>

      <button class="contact-btn">Send Message</button>
    </form>
  </div>
</div>
<div class="filler">
  <p>We Anticipate your Feedback</p>
</div>