<div *ngIf="products && products.length > 0" class="slider-container">
   
    <span *ngFor="let product of products; let i=index">
        <a routerLink="/details/{{ product.id}}">
        <img
        img [src]="product.imageUrl" [alt]="product.imageAlt" [ngClass]="{'image-active': selectedIndex === i}" class="fade">
        </a>
    </span>
    
    <!-- <div *ngIf="indicators" class="slider-circle-container">
        <span *ngFor="let circle of products; let i=index" class="circle" [ngClass]="{'active': selectedIndex === i}"
        (click)="selectImage(i)">
        </span>
    </div> -->
    
</div>
