<link rel="stylesheet" href="./about.component.css" />

<div class="container">
  <h1>About Us</h1>
  <br />
  <h2>THE BEST AT WHAT WE DO</h2>
  <p>
    Amber Eateries Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Eligendi a necessitatibus illo molestiae repudiandae nisi dolores eius
    molestias mollitia dolorum maiores, possimus provident excepturi quod
    corrupti voluptates cupiditate dolor, nostrum explicabo rerum. Placeat autem
  </p>
  <br /><br />
  <section>
    <img
      src="https://images.pexels.com/photos/2696064/pexels-photo-2696064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt="team"
    />

    <div class="info">
      <h1>Meet the amazing team behind Amber Eats</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
        commodi incidunt ipsa dolor officiis, cupiditate tempora vel nesciunt,
        illo quam suscipit, illum provident reprehenderit? Exercitationem eos
        harum iusto, cumque corporis impedit, vero beatae necessitatibus nihil
        vel facilis deserunt fugiat delectus esse expedita quis voluptatum
        temporibus officiis velit voluptates. 
            <br /><br />
        commodi magnam culpa quisquam delectus dicta aliquid amet rem, placeat
        earum quidem cum, debitis velit corrupti aliquam molestias ab tempora
        temporibus optio at, recusandae assumenda. Architecto tempore
        necessitatibus, quam corporis quaerat quasi atque deserunt modi est?
      </p>
    </div>
  </section>
</div>
