<div class="container">
 <!-- top section -->
  <div class="top-section">
    <div class="top-section-image">
      <img src="/assets/aboutImages/topImage.png" alt="image goes here">
    </div>
 
   <div class="top-section-content">
      <div class="heading">
        <h1>WELCOME TO AMBER EATS</h1>
      </div>

      <div class="contents">
        <section class="para1">
          <p style="text-align: right;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.   
          </p>
         </section>
   
         <section class="para2">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
         </section>
      </div>
    </div>
  </div>
 
 
 <!-- middle section -->
 <div class="middle-section">

    <div class="first-image">
      <img src="/assets/aboutImages/mid-image-one.png" alt="">
    </div>

    <div class="second-image">
      <img src="/assets/aboutImages/mid-image-two.png" alt="">
    </div>

    <div class="third-image">
      <img src="/assets/aboutImages/mid-image-three.png" alt="">
    </div>

    <button class="button">Full Menu</button>

 </div>
 


 <section class="middle-quote-section">
    <p><img src="/assets/aboutImages/open-quotation.png" alt="" style="float: left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. This is very important <img src="/assets/aboutImages/close-quotation.png" alt="" style="float:right"></p>

    <div class="quote-manager">
      <div class="manager-img">
        <img src="/assets/aboutImages/ellipse.png" alt="">
      </div>

      <div class="manager-name">
        <h2 class="title">Executive Manager <br> <span class="name">Executive Manager</span></h2>
      </div>
    </div>
 
</section>

   


