<div class="loader" *ngIf="!products; else homepage">
    <mat-spinner></mat-spinner>
</div>
<ng-template #homepage>
   <div style="display:flex; gap: 5rem; ">
    
    

   </div>
    <section class="home">
        <div class="section-header pink">
            <h1 class="">View All Meals</h1>

        </div>
        <div class="container-1240">
            <div class="card-grid" >
    
                <app-card [product]="product" *ngFor="let product of products"></app-card>
            </div>

            <mat-paginator [length]="length"
                (page) = "getPageWithIndex($event)"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </section>
</ng-template>
