<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- links -->
  <link rel="stylesheet" href="./app.component.css">
  <script src="https://kit.fontawesome.com/b7a2ac83f3.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- header-------------------------------------------------------- -->
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <h1>Amber Eateries</h1>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact Us</button>
    <button mat-button routerLink="/menu">Menu</button>
    <button mat-button routerLink="/update">Inventory</button>
  </mat-toolbar>
  
  <!-- view area----------------------------------------------------------- -->
  <router-outlet>
    
  </router-outlet>
  
  <!-- view area----------------------------------------------------------- -->
  <!-- <app-footer></app-footer> -->
</body>
</html>