* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.cart-btn {
  position: relative;
  color: #fff;
  background-color: transparent;
  border: none;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  padding: 2px 3px;
  border-radius: 100%;
  background-color: #00a6ff;
  color: #fff;
  font-size: 12px;
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  display:grid;
  place-items: center;
}
app-footer{
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
}
