
  <!-- header-------------------------------------------------------- -->
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <h1>Amber Eateries</h1>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact Us</button>
    <button mat-button routerLink="/update">Inventory</button>
  </mat-toolbar>
  
  <!-- view area----------------------------------------------------------- -->
  <router-outlet>
    
  </router-outlet>
  
  <!-- view area----------------------------------------------------------- -->
  <!-- <app-footer></app-footer> -->
