@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Great+Vibes&family=Gulzar&family=Poppins:wght@100;300&display=swap');

/* *{
  border: 1px solid;
} */

/* top container section*/
.top-container{
  background-image: url('/assets/homeImages/top-image.jpg');
  /* background-color: #ffffffc7; */
  height: 1017px;
  width: 100%;
  height: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  background-blend-mode: darken;
  opacity: 70%;
  /* background-color: rgba(255, 255, 255, 0.247); */
}

/* contianer within top container */
.heading-container{
  text-align: center;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%);
}

.heading{
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 198px;
  color: #FFFFFF;
 
}

.sub-head-paragraph{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.heading-button{
  text-transform: uppercase;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: .8em 1.4em;
  font-size:12px;
  font-weight: 600;
  margin: .8em 0 0 0;
}

.top-image-rugged{
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* section section design with popular menus */
.second-container{
  height: 969px;
  /* background-image: url('/assets/homeImages/second-img.png'); */
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.second-heading{
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 126px;
  color: #000000;
  margin-left: 2.6em;
}

.second-paragraph{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: red;
  width: 44%;
  margin-left: 6em;
}


.veg-img{
  width: 800px;
  height: 600px;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.plate-img{
  width: 700px;
  height: 652px;
  position: absolute;
  z-index: 20;
  right: 8%;
  top: 24%;
}

.veg-img img, .plate-img img{
  width: 100%;
  height: 100%;
}

.display-products{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

/* popular products design */
.product{
  margin: 0 auto;

}
.product-img{
  width: 295px;
  height: 296px;
  margin: 0 auto;
}

.product-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #000;
}

.product-info{
  /* background-image: url('/assets/homeImages/product-info.png'); */
  /* background-size: cover; */
  /* background-size: cover;
  background-position:bottom;
  width: 400px;
  width: 433px;
  height: 216px; */
  /* bottom: 0;
  position: relative; */
  /* bottom: 20%;
  right: 20%; */
  width: 433px;
  position: relative;
  bottom: 26%;
  right: 4%;
}

.info{
  position: absolute;
  top: 26%;
  /* height: -40px; */
  width: 100%;
}

.product-info img{
  width: 100%;
  height: 100%;
}

.product-title{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 275;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;  
}

.product-description{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: #fff;
}

.product-price{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  color: red;

}

.price-rating{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.second-menu-section{
  background-image: url('/assets/homeImages/section-menu.png');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 1235px;
  height: 209px;
  background-position: bottom;
  margin-top: 10%;
}

.second-menu-section .menu-heading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  padding-top:4.5%;
}

/* lower section design */
.middle-quote-section{
  margin: 14em 10em 0em 10em;
}

.middle-quote-section p{
  text-align: center;
  line-height: 45px;
  font-weight: 400;
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
}

.quote-manager{
  display: flex;
  justify-content: center;
  margin: 20px auto 0px auto;
  align-items: center;
}

.quote-manager .manager-img{
  width: 64px;
  height: 64px;
}

.quote-manager .manager-img img{
  height: 100%;
  width: 100%;
}

.quote-manager .manager-name{
  margin: 20px 0px 0px 10px;
}

.quote-manager .manager-name h2{
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
}

.quote-manager .manager-name .title{
  font-weight: 700;
  font-size: 20px;
}


.quote-manager .manager-name .name{
  font-weight: 400;
  font-size: 15px;
}


@media only screen and (max-width: 1070px) {
  .heading{
    font-size: 100px;
  }
}

@media only screen and (max-width: 720px) {
  .heading{
    font-size: 60px;
  }
}