<div class="container">
    <div class="close">
        <button mat-button matDialogClose><mat-icon>close</mat-icon></button>
    </div>
    <div class="dialog">
        <div class="header">
            <h1 matDialogTitle>Order Type Selection</h1>
            <h4>Please Select <strong>One (1)</strong> option below</h4>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button (click)="show()">Sign Up</button>
            <button mat-raised-button matDialogClose routerLink="/checkout">CheckOut without Account</button>
        </mat-dialog-actions>

        <!-- Create User Account -->
        <mat-dialog-content class="dialog-content" *ngIf="create">
            <mat-card>
                <mat-card-title>Create Account</mat-card-title>
                <mat-card-subtitle>End</mat-card-subtitle>
                <mat-card-content>
                    <form class="example-form" #createFrom name="createForm">
                                              
                        
                          <table cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>First name</mat-label>
                                        <input matInput>
                                      </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </td> 
                            </tr>
                          </table>

                          <table cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Address 1</mat-label>
                                        <input matInput placeholder="Ex. 100 Main St">
                                      </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Address 2</mat-label>
                                        <input matInput placeholder="Kingston">
                                      </mat-form-field>
                                </td><br>
                                <td>
                                    <mat-form-field appearance="fill" style="width: 58vw;">
                                        <mat-label>Address 3</mat-label>
                                        <input matInput placeholder="Kingston">
                                      </mat-form-field>
                                </td>
                            </tr>
                            
                          </table>

                          <table>
                            <tr>
                                <td>
                                    <mat-form-field appearance="fill" style="width: 58vw;">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="name@mail.com">
                                    </mat-form-field>
                                </td>
                            </tr>
                          </table>                
                          <table>
                            <tr>
                                <td>
                                    <mat-form-field appearance="fill" style="width: 58vw;">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="name@mail.com">
                                    </mat-form-field>
                                </td>
                            </tr>
                          </table>                
                      </form>                      
                </mat-card-content>
                <mat-card-actions align="end">
                  <button type="submit" form="createForm" mat-raised-button mat-button color="primary">Created Account</button>
                </mat-card-actions>
              </mat-card>
        </mat-dialog-content>
    </div>
</div>
