/* You can add global styles to this file, and also import other style files */

/* @import"~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root{
  --light-theme-font: #333;
  --light-theme-background: whitesmoke;
  --dark-theme-font: white;
  --dark-theme-background: #303030;
  --primary: #3f51b5;
  --secondary: #ff4081;
  --secondary-fade:rgb(255 226 220 / 27%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color:#333 }

.cart-active {
    color: var(--secondary);
    text-decoration: underline var(--secondary);
    font-size: larger;
}
html {  /**¯\_(ツ)_/¯*/ 
    scroll-snap-type: y mandatory;
  }
  
  body {
    scroll-behavior:smooth;
    color: var(--light-theme-color);
    height: max-content;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  mat-card-header div.mat-card-header-text{
    margin:0;
}
  
  mat-toolbar{
    position: sticky;
    top: 0%;
    z-index: 100;
  }
.primary{
  color: var(--primary);
}
  
.context{
  width: 1240px;
  margin: auto;
}
  
