<link rel="stylesheet" href="./home.component.css" />

<!-- slider-------------------------------------------------- -->
<div class="Marquee">
  <div class="Marquee-content" *ngFor="let product of products.slice(0, 5)">
    <div class="Marquee-tag">
      <a routerLink="/details/{{ product.id }}">
        <img
          style="height: 61vh; width: 32vw"
          src="{{ product.imageUrl }}"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
<!-- <app-rating
  [meal]="{ productName: 'Penny', tot_stars: 256, tot_users: 55 }"
></app-rating> -->
<!-- section-------------------------------------------------- -->
<section>
  <h1>
    What would you like to eat? <br /><br />
    View our menu below
  </h1>
  <br />
  <a href="#card_container">&dArr;&dArr;</a>
</section>

<!-- cards-------------------------------------------------- -->
<div class="card_container" id="card_container">
  <mat-spinner *ngIf="products.length === 0"></mat-spinner>
  <mat-card *ngFor="let product of products">
    <mat-card-content>
      <img src="{{ product.imageUrl }}" alt="" />
      <p>{{ product.description }}</p>
    </mat-card-content>

    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>
        $/{{ product.price }} {{ product.quantity }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-stroked-button
        color="accent"
        routerLink="/details/{{ product.id }}"
      >
        Buy Meal
      </button>
      <app-rating class="ratings" [meal]="product"> </app-rating>
    </mat-card-actions>
  </mat-card>
</div>

<!-- gallery------------------------------------------ -->
<div class="gallery_container" id="card_container">
  <mat-spinner *ngIf="footerItems.length === 0"></mat-spinner>
  <h1 style="text-align: center; color: white">Gallery</h1>
  <div class="content">
    <mat-card
      style="background: #424242"
      *ngFor="let product of footerItems"
      routerLink="/details/{{ product.id }}"
      class="card"
    >
      <mat-card-content class="contentImg">
        <img src="{{ product.imageUrl }}" alt="" />
      </mat-card-content>

      <mat-card-header>
        <mat-card-title class="title">{{ product.name }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
