<link rel="stylesheet" href="./details.component.css" />

<div class="card_container">
    <!-- <mat-spinner *ngIf="products.length === 0"></mat-spinner> -->
  <mat-card>
    
    <mat-card-content>
      <img
        src="{{ products.imageUrl }}"
        alt=""
      />
    </mat-card-content>
    
    <mat-card-header>
        <mat-card-title>{{ products.name }}</mat-card-title>
            <br>
        <p>{{ products.description }}</p>
            <br>
        <mat-card-subtitle> 
            $/{{ products.price }} {{ products.quantity }}
        </mat-card-subtitle>
        <br>
      <mat-card-actions>
        <button mat-stroked-button color="accent" routerLink="/order-completed">Order Now</button> 
        <button mat-stroked-button color="accent"(click)="toggleShowHide()">Add Side</button> 
      </mat-card-actions> 
    </mat-card-header>

  </mat-card>
</div>
<div class="sides" *ngIf="isVisible">
  <app-side-dishes></app-side-dishes>,
</div>
<!-- to push selected side dishes
<div *ngIf="categoryAdd.length != 0" style="background-color: red;">
  <p style="border: 5px solid yellow; padding: 10px; font-size: 30px;">{{this.categoryAdd}}hello world</p>
  </div> -->


