


.button:hover {
  background-color: rgb(255, 3, 255);
}

/* body {
  font-family: Arial;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;

  position: relative;
} */
p {
  color: white;
}

.fa {
  font-size: 25px;
  cursor: pointer;
}

/*  */

.review-count {
  font-size: 25px;
  font-weight:500;
  display:flex;
  align-items: flex-end;
}

.items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  /* background-color: #424242; This is the color of the card */
  /* align-content: center; */
}
.reviewers{
  font-size: .7rem;
  align-self:flex-end;
  line-height: 10px;
}

.modal {
  cursor: pointer;
}

.checked {
  color: orange;
}

input[type="radio"] {
  /* disable oppasite to veiw radio button */
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 3px;
  transform: scale(2);
}

.rated-rapper {
  position: relative;
  color: goldenrod;
}

.rated-rapper:hover {
  color: #ff9800;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
mat-card-actions{
  display:flex;
  justify-content: space-between;
  margin-right: 0;
}


@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }

  .right {
    display: none;
  }
}
